
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14) ;
}

.slider{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: -15px;
    margin-bottom: 20px;
}

.slides{
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slide img {
    width: 1600px;
    
}

.manual-navigation{
    position: absolute;
    width: 1500px;
    margin-left: 10px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid rgb(232, 232, 232);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 1500px;
    margin-left: 10px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

/* **************************************************************************/

#divBusca{
    background-color: #ffffff18;
    border: solid #2525259f 2px;
    border-radius: 20px;
    width: 600px;
    position: relative;
    top: 15px;
    right: 70px;
    padding: 0;
    margin: 0;
    margin-left: 480px;
    margin-bottom: 100px;
}
 input, input:focus, input:active{
    outline: none;
    border-color: transparent;
}
#txtBusca{
    float: left;
    background-color: transparent;
    padding-left: 8px;
    font-style: italic;
    font-size: 16px;
    color: #adadad;
    border: none;
    height: 28px;
    width: 553px;
}
.rectangle {
    position: relative;
    width: 95.0rem;
    height: 4.5rem;
    background: rgb(31, 31, 31);
    
}
#divBusca img{
    width: 25px;
    margin-top: 4px;
}

.logo {
    float: left;
    position: relative;
    left: 10px;
    width: 80px;
    height: 78px;
    top: -5px;
    left: 30px;
}
/* .nome {
    float: left;
    position: relative;
    bottom: 22px;
    left: 30px;
    width: 180px; 
    height: 100px;
} */
.carrinho{
    float: left;
    position: relative;
    bottom: 122px;
    left: 1270px;
    width: 40px;
    height: 40px;
}
.icon {
    float: left;
    position: relative;
    bottom: 132px;
    left: 1310px;
    width: 60px;
    height: 60px;
}


.barrinhas {
    float: left;
    position: relative;
    bottom: 127px;
    left: 1350px;
    width: 50px;
    height: 50px
}

.hamburger{
    position: relative;
    display: block;
    width: 50px;
    cursor: pointer;
    border: none;
    appearance: none;
    background: none;
    outline: none;
    bottom: 125px;
    left: 1350px;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, #f741cf 0%, #9e41f5 50%, #4727fa 100%);
    margin: 8px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-12px, -9px);
}
.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    top: 9%;
    left: 100%;
    width: 400px;
    min-height: 55.2vh;
    display: block;
    z-index: 98;
    background-color: rgb(31, 31, 31);
    border-radius: 0px 15px;
    padding-top: 120px;
    transition: 1s;
    box-shadow: 1px 6px 15px black;
}

.mobile-nav.is-active{
    left: 75%;
}

.a-nav{
        display: block;
        position: relative;
        bottom: 20px;
        text-align: center;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        margin-bottom: 36px;
        padding: 16px 16px;
        color: #d8d8d8;
        border-radius: 5px;
        background-color: #52238857;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.a-nav:hover{
    background-color: #500aa1;
}

.header{
    top: 100px;
    padding: 0;
    margin: 0;
}

/* ************************************************************************* */

.categorias {
    position: relative;
    display: flex;
    width: 95rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    top: 20px;
    
    
  
}
.categorias div:not(:last-child){
    margin-right: 130px;
}

.cat img{
    width: 110px;
    height: 110px;
}

.categorias div {
    background-image: linear-gradient(90deg, #ff00c8 0%, #7621a7 50%, #2718fa 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

.categorias div:hover{
    transform: scale(1.1);
    box-shadow: -1px 0px 15px rgb(145, 0, 89);
}

.categorias img{
    width: 100%;
    border-radius: 50%;
}

/* ************************************************************************* */

.opcoes {
    position: relative;
    display: flex;
    background-image: linear-gradient(90deg, #ee31c5 0%, #6b21a7 50%, #2908bd 100%);
    margin-top: -130px;
    margin-bottom: 15px;
    width: 95rem;
    height: 33px;
    align-items: center;
    justify-content: center;
    
}

.opcoes div{
    width: 96rem;
    background-color: rgb(20, 20, 20);
    display: flex;
    padding: 3.8px;
    transition: transform .3s;
}

.bordaop{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .opcao {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .opcao:not(:last-child){
    margin-right: 110px;
}

a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
